### Custom Key Bindings 
# Key combination prefix is <C-a>, not <C-b>
set -g prefix C-a

### Set default shell to zsh
set-option -g default-shell "/bin/zsh"
set-option -g default-command "/bin/zsh"

### Appareance
# Automatically renumber window numbers on closing a pane (tmux >= 1.7)
set -g renumber-windows on
# Set window notifications
set-window-option -g monitor-activity on
set-option -g visual-activity on
# Set mouse on
set-option -g mouse on

### Install and configure through TPM

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'wfxr/tmux-fzf-url'
set -g @plugin 'alexwforsythe/tmux-which-key'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'schasse/tmux-jump'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'thewtex/tmux-mem-cpu-load'
set -g @plugin 'erikw/tmux-powerline'

if "test ! -d ~/.tmux/plugins/tpm" \
  "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"

run '~/.tmux/plugins/tpm/tpm'
