{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew tap hashicorp/tap
brew tap go-task/tap

brew bundle upgrade --file=/dev/stdin <<EOF
brew "git"
brew "tig"
brew "go"
brew "python3"
brew "volta"
brew "ripgrep"
brew "starship"
brew "neovim"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "fzf"
brew "autojump"
brew "virtualenvwrapper"
brew "tmux"
brew "orbstack"
brew "awscli"
brew "reattach-to-user-namespace"
brew "tfenv"
brew "hashicorp/tap/packer"
brew "hashicorp/tap/terraform"
brew "hashicorp/tap/terraform-ls"
brew "go-task/tap/go-task"
brew "jq"
cask "font-fira-code-nerd-font"
cask "zed"
cask "telegram"
cask "steam"
cask "rectangle"
cask "podman-desktop"
cask "ghostty"
cask "slack"
cask "alt-tab"
EOF

# Install powerline status bar
pip3 install powerline-status
{{ end -}}
