{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew tap homebrew/cask-fonts

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "go"
brew "python3"
brew "volta"
brew "ripgrep"
brew "startship"
brew "neovim"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "fzf"
cask "font-fira-code-nerd-font"
cask "visual-studio-code"
cask "telegram"
cask "steam"
cask "rectangle"
EOF
{{ end -}}
