#My Scripts
export PATH=$PATH:.

export PATH=/usr/local/sbin:$PATH
export PATH=/usr/local/bin:$PATH

# local bins
export PATH=$HOME/bin:$PATH

# Arkade bin
export PATH=$HOME/.arkade/bin:$PATH

# Go binaries
export PATH=/usr/local/go/bin:$PATH
export PATH=$HOME/go/bin:$PATH

# krew kubectl plugin
export PATH=$HOME/.krew/bin:$PATH

{{ if .isJT }}
export PATH=/Users/juan.mesa@jobandtalent.com/repos/devkit/bin:$PATH
export PATH=/Users/juan.mesa@jobandtalent.com/repos/devcloud/bin:$PATH
{{ end }}
